@import '../../helpers.scss';
@import '../../themes.scss';

.wordle-row {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
  .wordle-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    border: 2px solid color(unfilled-tile-color);
    color: color(primary-text);
    font-size: toRem(30);
    font-weight: 600;
    border-radius: $border-radius;
    @media screen and (max-width: 500px) {
      height: 45px;
      width: 45px;
    }
    @media screen and (max-width: 375px) {
      height: 40px;
      width: 40px;
    }
  }
  .wordle-tile.eq,
  .wordle-tile.in,
  .wordle-tile.nin {
    color: color(guessed-text-color);
  }
  .wordle-tile.eq {
    background: color(correct-guess-color);
    border-color: color(correct-guess-color);
  }
  .wordle-tile.in {
    background: color(in-guess-color);
    border-color: color(in-guess-color);
  }
  .wordle-tile.nin {
    background: color(not-in-guess);
    border-color: color(not-in-guess);
  }
}
.wordle-row.invalid .wordle-tile {
  color: $error-red !important;
}
