@import '../../helpers.scss';
@import '../../themes.scss';

.game-over-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: fit-content;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    padding-bottom: 2rem;
  }
  .close-modal-btn {
    position: absolute;
    right: 1rem;
    outline: none;
    background: none;
    width: fit-content;
  }
  .completed-text {
    padding-bottom: 2rem;
    font-weight: 500;
    .word {
      background: color(secondary-background);
      padding: 0.25rem;
      font-weight: 700;
      border-radius: $border-radius;
    }
  }
}

.wordle {
  margin: 0 auto;
  width: fit-content;
  margin-top: 4rem;
}
