@import '../../helpers.scss';
@import '../../themes.scss';

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: fit-content;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    padding-bottom: 2rem;
  }
  .close-modal-btn {
    position: absolute;
    right: 1rem;
    outline: none;
    background: none;
    width: fit-content;
  }
  .completed-text {
    padding-bottom: 2rem;
    font-weight: 500;
    .word {
      background: color(secondary-background);
      padding: 0.25rem;
      font-weight: 700;
      border-radius: $border-radius;
    }
  }
}

.wordle-container {
  height: 100%;
}
.puzzle-container {
  // $test: calc(100vh - #{$nav-height} - #{$keyboard-height});

  // height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  // height: calc(var(--vh, 1vh) * 100 -- );
  position: relative;
  height: calc(100% - #{$nav-height} - #{$keyboard-height});
  width: 100%;
  // background: red;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: color('primary-background');
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: color('primary-background');
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: color('secondary-background');
  }

  .wordle {
    margin: 0 auto;
    width: fit-content;
    @media screen and (max-width: 500px) {
      margin-top: 0;
    }
  }
}
