@import '../../helpers.scss';

.wordle {
  margin: 0 auto;
  width: fit-content;
  margin-top: 4rem;
}
.game-over-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: $primary-text;
  background: $primary-background;
  text-align: center;

  h2 {
    padding-bottom: 2rem;
  }
  .close-modal-btn {
    position: absolute;
    right: 1rem;
    outline: none;
    background: none;
    width: fit-content;
  }
  .completed-text {
    padding-bottom: 2rem;
    .word {
      background: $secondary-background;
      padding: 0.25rem;
      font-weight: 600;
      border-radius: 5px;
    }
  }
}
