@import '../../../helpers.scss';

.settings-modal {
  .content {
    margin-bottom: 2rem;

    .setting {
      label {
        display: flex;
        align-items: center;
        gap: 1rem;
        .text {
          font-size: toRem(18);
        }
      }
    }
  }
}
