@import '../../../helpers.scss';
@import '../../../themes.scss';

.game-stats-modal {
  max-width: 450px;
  width: 90% !important;
  box-sizing: border-box;
  h2 {
    margin-bottom: 1.5rem;
    padding: 0;
  }
  .content {
    width: 85%;
    margin: 1rem auto;

    .stats {
      display: flex;
      justify-content: space-between;
      .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.65rem;
        max-width: 80px;
        .num {
          font-weight: 600;
          font-size: toRem(18);
        }
      }
    }
    .distribution {
      margin-top: 3rem;

      .chart {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        .chart-line-container {
          display: flex;
          gap: 0.75rem;
          height: 25px;
          width: 100%;

          .num {
            font-size: toRem(18);
            width: 1ch;
          }

          .line-container {
            height: 100%;
            width: 90%;
            .line {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              padding-right: 0.25rem;
              height: 100%;
              font-size: toRem(18);
              background: $gray-900;
              min-width: 1.5rem;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
